$default-color = #fff;
$shadow-color = #222;
$gap = 1.25rem;
$font-size = 1.15rem;

.form {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
	color: $default-color;
  font-size: $font-size;

  >* {
    flex-basis: "calc(50% - %s)" % ($gap * 2);
    margin: $gap;
  }

  button {
    flex-basis: 150px;
    margin-left: auto;
    margin-right: $gap;
  }
}