$default-color = #fff
$shadow-color = #222
$link-color = #9494f5
$visited-color = #ff93ff

.home {
	background-color: $shadow-color;
	color: $default-color;
	flex: 1;
  height: 100%;
	padding: 1em;

	a {
		color: $link-color;

		&:visited {
			color: $visited-color;
		}
	}
}