$shadow-color = #222;

html {
  box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	height: 100%;
	margin: 0;
  background-color: $shadow-color;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.component {
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: #000;
}